@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  div ,body{
    box-sizing: border-box;
  }
  input {
    outline: none;
    border: none;
  }
div{
/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2f2a2a; /* Background of the track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #615b5b; /* Color of the scroll thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a99b9b; /* Color of the thumb on hover */

}
}
}
.message-template-content{
 
    word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}