/* .FullMessageMediaView{
    border: 2px solid red;
     border: 2px solid red;
    display: absolute;
    width: 130%;
    height: auto;
    z-index: 100;
    top: 0;
    left: 0;
    background-size: contain;
} */